<html>
    <head>
        <title id = "title">{% block title%}{%endblock%} </title>
    </head>
    <body>
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>