{%extends './base.html'%}
{%block title%} Login {%endblock%}
{%block content%} 
<h1> Login Page </h1>
<div>
    
    <form action="home/" method="POST">
        {%csrf_token%}
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">password</label>
        <input type="password" id="password" name="password">
    </p>
    <p>
        <button type='submit'>Login</button>
    </p>
    </form>
    {% if request.session.valid != 0 %}
            {{ request.session.valid }}
        {% endif %}
</div>

{%endblock%}